{% extends 'bases.html' %}
{% block body %}
<div class="content">
    <h2 style="margin-bottom: 1rem; text-align: center">Update Task</h2>
      
    <div class="form" style="text-align: center;">
        <form action="/update/{{task.id}}" method="POST">
            <textarea class="textarea"  value ={{task.content}} id="content" name="content" style="margin-bottom: 1rem;">{{task.content}}</textarea>
            <button class="button is-info">Update!</button>
        </form>
    </div>
</div>
 {% endblock %}